%div.centered
  %p
    =partial('partials/long_form_reservation')
  %div#note.textile.hidden
    =textile_note(@reservation)
  %form#note_form{:method => "POST", :action => Href.note_editing_page(@reservation)}
    %textarea{:name => "note", :rows => "20", :cols => "100"}
      =@reservation.note
    :markdown 
      You can add bolding and other effects using 
      [Textile](http://redcloth.org/textile/phrase-modifiers/).
    %p
      %input#update_note{:type => 'submit', :value=>"Update Note"}

:javascript
  jQuery(function() {
    window.OnStarts.get_note_editing_page(#{@reservation.id});
  });
