%p
  =partial('partials/long_form_reservation')
//=detextilized @reservation.note
%form{:method => "POST", :action => Href.note_editing_page(@reservation)}
  %textarea{:name => "note", :rows => "20", :cols => "60"}
    =@reservation.note
  %p
    :markdown 
      You can add bolding and other effects using 
      [Textile](http://redcloth.org/textile/phrase-modifiers/).
  %p
    %input{:type => 'submit', :value=>"Update Note"}




