%p
//  =long_form(@reservation)
//=detextilized @reservation.note
%form.stackContent{:method => "POST", :action => Href.note_editing_page(@reservation)}
  %textarea.stackContent{:name => "note", :rows => "20", :cols => "60"}
    =@reservation.note
  %p.stackContent
    You can add bolding and other effects using 
    %a{:href => "http://redcloth.org/textile/phrase-modifiers/"}
      Textile
    \.
  %p.stackContent
    %input{:type => 'submit', :value=>"Update Note"}




