%div.centered
  %p
    =partial_call(:long_form_reservation, :reservation => reservation)
  %div#note.textile.hidden
    = @renderer.render_textile(reservation.note)
  %form#note_form{:method => "PUT", :action => "#{Href::Reservation.note_generator(reservation.id)}"}
    %textarea{:name => "note", :rows => "12", :cols => "70"}=find_and_preserve reservation.note
    :markdown 
      You can add bolding and other effects using 
      [Textile](http://redcloth.org/textile/phrase-modifiers/).
    %p
      %input#update_note{:type => 'submit', :value=>"Update Note"}

:javascript
  jQuery(function() {
    (new window.C4.NoteEditingPage).initialize_jquery()
  });
