

/* anchors */

/*
a
{
    text-decoration:none;
    cursor:pointer;
    color:#444;
}

a:hover,
a:focus,
a:visited
{
    color: #666666;
}
*/

i { font-style: italic; }
b { font-weight: bold; }
p + p { margin-top: 0.5em; } 
input, textarea { font: 1em  Arial, "Helvetica Neue", Helvetica, sans-serif; }


/* header */
#header
{
    background:#84896A;
    text-align: center;
    padding-top: 1em;
    font-size: 1.5em;
}

#header a
{
    color: #333333;
}

#header p
{
    color: #333333;
}

#header a:hover,
#header a:focus
{
    color: #ffffff;
}



#content
{
    background:#B9BCAA;
}

.centered
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.textile
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding: 1em;
  text-align: left;
  border: 1px solid black;
  width: 80%
}

.textile p
{
  margin-bottom: 0;
}

.hidden {
  display: none;
}

#footer
{
    font-size:0.8em;
    margin-left: auto;
    margin-right; auto;
    text-align: center;
    color:#ccc;
    background:#fff;
    vertical-align:middle;
}

#footer a
{
    text-decoration:none;
    cursor:pointer;
    color:#bbb;
}

#footer a:hover,
#footer a:focus
{
    color:#000;
}
