

/* anchors */
a
{
    text-decoration:none;
    cursor:pointer;
    color:#B9BDA9;
}

a:hover,
a:focus
{
    color: #666666;
}




/* header */
#header
{
    background:#B9BDA9;
    margin-left: auto;
    margin-right; auto;
    text-align: center;
}

#header a
{
    color: #333333;
}

#header p
{
    text-align: center;
    color: #333333;
}

#header a:hover,
#header a:focus
{
    color: #ffffff;
}



#content
{
    background:#B9BDA9;
    margin-left: auto;
    margin-right; auto;
    text-align: center;
}


/* footer */
/* all mockups */

#header
{
    background:#B9BDA9;
    margin-left: auto;
    margin-right; auto;
    text-align: center;
}

#footer
{
    font-size:0.8em;
    margin-left: auto;
    margin-right; auto;
    text-align: center;
    color:#ccc;
    background:#fff;
    vertical-align:middle;
}

#footer a
{
    text-decoration:none;
    cursor:pointer;
    color:#bbb;
}

#footer a:hover,
#footer a:focus
{
    color:#000;
}
